/* post-details.html - блок з інфою про пост зверху. Коментарі - по 4 в ряд.*/
/*Всі елементи котрі характеризують users, posts, comments візуалізувати, так, щоб було видно що це блоки*/
/*(дати фон. марджини і тд)*/
body {
    background-color: #82a0c2;
    padding: 10px;
}
.screenOne{
    background-color: #d9dfea;
    box-sizing: border-box;
    width: 550px;
    /*height: 550px;*/
    margin:  auto;
    padding: 20px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
}
.text {
    position: relative;
    /*left: 50%;*/
    /*margin-left: -12.5em;*/
    text-align: left;
    font-size: 1.25em;
    font-family: monospace;
    white-space: normal;
    font-weight: bold;
    overflow: hidden;
    width: 550px;
}

.line1 {
    color: #3159a1;
    animation: type .5s 1s steps(20, end) forwards;
}

.cursor1 {
    animation: blink 1s 2s 2 forwards;
}

.line2 {
    color: #CDEE69;
    animation: type .5s 4.25s steps(20, end) forwards;
}

.cursor2 {
    animation: blink 1s 5.25s 2 forwards;
}

.line3 {
    color: #286177;
    animation: type .5s 7.5s steps(20, end) forwards;
}

.cursor3 {
    animation: blink 1s 8.5s 2 forwards;
}

.line4 {
    color: #520d0d;
    animation: type .5s 10.75s steps(20, end) forwards;
}

.cursor4 {
    animation: blink 1s 8.5s infinite;
}
span {
    color: #fff;
    font-weight: bold;
}
@keyframes blink {
    0% {
        opacity: 0;
    }
    40% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
a:link {
    text-decoration: none;
}
a:visited {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
a:active {
    text-decoration: underline;
}